<div class="outer">
<mat-toolbar>
    <div class="toolbar-title">Create Study Session</div>
    <div class="spacer"></div>
    <a mat-icon-button href="/"><mat-icon>close</mat-icon></a></mat-toolbar>
<div class="content">
<div class="list-set">
<mat-card class="assignments-container">
    <mat-card-header>Upcoming Assignemnts</mat-card-header>
  
    <mat-card-content style="height: 100%;">
        <mat-list
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            class="assignments-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of todo; track item) {
                <mat-list-item class="example-box" cdkDrag>
                    <span matListItemTitle>{{item.name}}</span>
                    <span matListItemMeta>DUE: {{item.due}}</span>
                </mat-list-item>
            }
        </mat-list>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="assignments-container">
    <mat-card-header>Study Set</mat-card-header>
  
    <mat-card-content style="height: 100%;">
        <mat-list
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="assignments-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of done; track item) {
            <mat-list-item class="example-box" cdkDrag>
                <span matListItemTitle>{{item.name}}</span>
                <span matListItemMeta>DUE: {{item.due}}</span>
            </mat-list-item>
        }
        </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<a mat-flat-button routerLink="/study/1" class="study-button">Study</a>
</div>
</div>